<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>REST API</title>
</head>
<body class="bg-black text-white">
    
    <div class="flex flex-col justify-center items-center gap-4 bg-black text-white">
        <h1 class="flex justify-center">New Client</h1>

        <form method="post" th:object="${clientDto}" class="text-center flex flex-col gap-4">
            <div class="">
                <label>First Name</label>
                <div class="">
                    <input th:field="${clientDto.firstName}" class="border border-green-400 text-green-300 rounded-md">
                    <p 
                        th:if="${#fields.hasErrors('firstName')}" 
                        th:errorclass="text-red-400" 
                        th:errors="${clientDto.firstName}">
                    </p>
                </div>
            </div>

            <div class="">
                <label>Last Name</label>
                <div class="">
                    <input th:field="${clientDto.lastName}" class="border border-green-400 text-green-300 rounded-md">
                    <p 
                        th:if="${#fields.hasErrors('lastName')}" 
                        th:errorclass="text-red-400" 
                        th:errors="${clientDto.lastName}">
                    </p>
                </div>
            </div>
            
            <div class="">
                <label>Email</label>
                <div class="">
                    <input th:field="${clientDto.email}" class="border border-green-400 text-green-300 rounded-md">
                    <p
                        th:if="${#fields.hasErrors('email')}"
                        th:errorclass="text-red-400" 
                        th:errors="${clientDto.email}">
                    </p>
                </div>
            </div>
            
            <div class="">
                <label>Phone</label>
                <div class="">
                    <input th:field="${clientDto.phone}" class="border border-green-400 text-green-300 rounded-md">
                    <p
                        th:if="${#fields.hasErrors('phone')}"
                        th:errorclass="text-red-400" 
                        th:errors="${clientDto.phone}">
                    </p>
                </div>
            </div>
            
            <div class="">
                <label>Address</label>
                <div class="">
                    <input th:field="${clientDto.address}" class="border border-green-400 text-green-300 rounded-md">
                    <p
                        th:if="${#fields.hasErrors('address')}"
                        th:errorclass="text-red-400" 
                        th:errors="${clientDto.address}">
                    </p>
                </div>
            </div>
            
            <div class="">
                <label>Status</label>
                <div class="">
                    <select th:field="${clientDto.status}" class="text-green-300 bg-black rounded-md border border-green-400">
                        <option selected value="New">New</option>
                        <option value="Permanent">Permanent</option>
                        <option value="Lead">Lead</option>
                        <option value="Occasional">Occasional</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    <p
                        th:if="${#fields.hasErrors('status')}"
                        th:errorclass="text-red-400" 
                        th:errors="${clientDto.status}">
                    </p>
                </div>
            </div>

            <div class="">
                <div class="">
                    <button type="submit" class="bg-green-400 p-2 rounded-md text-black">Submit</button>
                </div>
                <div class="">
                    <a href="/clients">Cancel</a>
                </div>
            </div>
        </form>
    </div>

</body>
</html>